:root {
  --azul-oscuro: #0a1a3f;
  --azul: #0b2cff;
  --blanco: #ffffff;
  --gris: #e5e5e5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--gris);
  background-image: url(https://m.media-amazon.com/images/S/pv-target-images/13b61da7ddb09b2b9941108b9ca19d6b343cca6ebdde7cfc3cf8aadddef9af0c._SX1080_FMjpg_.jpg) ;
  background-size: cover;
  background-position: c;
}


/* Pagina Principal*/
.header {
  background: linear-gradient(90deg, #020c2b, #0b2cff);
  color: var(--blanco);
  text-align: center;
  padding: 30px 20px;
}

.logo {
  width: 170px;
  height: 120px;
  margin-bottom: 10px;
  border-radius: 0%;
}


.menu {
  display: flex;
  justify-content: center;
  background: var(--azul-oscuro);
}

.menu a {
  color: var(--blanco);
  text-decoration: none;
  padding: 15px 25px;
  transition: 0.3s;
}

.menu a:hover,
.menu a.active {
  background: var(--azul);
}


.contenido {
  flex: 1;
  max-width: 900px;
  margin: 40px auto;
  background: var(--blanco);
  padding: 40px;
  border-radius: 12px;
}

.contenido h2 {
  text-align: center;
  margin-bottom: 30px;
  color: var(--azul-oscuro);
}

.texto p {
  margin-bottom: 18px;
  line-height: 1.6;
  text-align: justify;
}

.footer {
  background: #000;
  color: var(--blanco);
  text-align: center;
  padding: 15px;
}


@media (max-width: 768px) {
  .menu {
    flex-direction: column;
  }

  .menu a {
    text-align: center;
  }

  .contenido {
    margin: 20px;
    padding: 25px;
  }
}
/* Pagina Principal*/
